<%= form_with(model: ingpizza, local: true) do |form| %>
  <% if ingpizza.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingpizza.errors.count, "error") %> prohibited this ingpizza from being saved:</h2>

      <ul>
      <% ingpizza.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ingredient_id %>
    <%= form.text_field :ingredient_id, id: :ingpizza_ingredient_id %>
  </div>

  <div class="field">
    <%= form.label :pizza_id %>
    <%= form.text_field :pizza_id, id: :ingpizza_pizza_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
