<p id="notice"><%= notice %></p>

<h1>Ingpizzas</h1>

<table>
  <thead>
    <tr>
      <th>Ingredient</th>
      <th>Pizza</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingpizzas.each do |ingpizza| %>
      <tr>
        <td><%= ingpizza.ingredient %></td>
        <td><%= ingpizza.pizza %></td>
        <td><%= link_to 'Show', ingpizza %></td>
        <td><%= link_to 'Edit', edit_ingpizza_path(ingpizza) %></td>
        <td><%= link_to 'Destroy', ingpizza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingpizza', new_ingpizza_path %>
