<%= form_with(model: orderpizza, local: true) do |form| %>
  <% if orderpizza.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orderpizza.errors.count, "error") %> prohibited this orderpizza from being saved:</h2>

      <ul>
      <% orderpizza.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :payment %>
    <%= form.text_field :payment, id: :orderpizza_payment %>
  </div>

  <div class="field">
    <%= form.label :pizza_id %>
    <%= form.text_field :pizza_id, id: :orderpizza_pizza_id %>
  </div>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.text_field :order_id, id: :orderpizza_order_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
