<!DOCTYPE html>
<html>
  <head>
    <title>ExamCaroassadi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav class="navbar navbar-expand-md  bg-dark navbar-dark fixed-top" >
      <!-- Brand -->
      <a class="navbar-brand" href="/">Joe's Pizza</a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <%= link_to 'Cart', orderpizzas_path %>
        </ul>

      </div>
    </nav>
  </header>


    <%= yield %>
  </body>
</html>
